In [1]:
import pandas as pd
import random

In [72]:
results = pd.read_csv('results.csv')
results.loc[:, 'mask'] = results.loc[:, 'mask'].str.replace('X', '')
roster = pd.read_csv('roster.csv')
tournaments = pd.read_csv('tournaments.csv').set_index('idtournament')

In [73]:
# correct number of questions in tournaments
results.groupby('idtournament').first()

,idteam,current_name,base_name,position,questions_total,mask,bonus_a,bonus_b,tech_rating,predicted_position,d_bonus_a,d_bonus_b,d_diff_bonus,included_in_rating,diff_bonus
idtournament,,,,,,,,,,,,,,,
2,53,Анталлактика,Анталлактика,11.0,0,000000000000000,369.0,72.0,1151.0,15.0,369,272,72.0,0.0,NaN
3,1,Неспроста,Неспроста,6.0,0,000000000000000,1803.0,-159.0,10442.0,3.0,1803,1603,-159.0,0.0,NaN
6,10,Яровит,Яровит,21.0,0,000000000000000,187.0,-55.0,1099.0,13.0,187,88,-55.0,0.0,NaN
8,1,Неспроста,Неспроста,4.0,0,000000000000000,2032.0,237.0,10082.0,5.0,2032,2017,237.0,0.0,NaN
9,7,Ра,Ра,5.0,0,000000000000000,1028.0,-213.0,8453.0,1.0,1028,503,-213.0,0.0,NaN
11,2,Афина,Афина,2.0,0,000000000000000,1853.0,-15.0,11965.0,1.0,1853,1918,-15.0,0.0,NaN
12,1,Неспроста,Неспроста,1.0,0,000000000000000,2297.0,339.0,10319.0,4.0,2297,2293,339.0,0.0,NaN
14,3,Команда Ильи Иткина,Команда Ильи Иткина,12.0,0,NaN,570.0,487.0,9126.0,1.0,570,487,-532.0,NaN,-532.0
15,13,Дельта фи,Дельта фи,8.0,0,000000000000000,874.0,57.0,2283.0,14.0,874,547,57.0,0.0,NaN
16,1,Неспроста,Неспроста,13.5,0,000000000000000,1525.0,-141.0,10283.0,5.0,1525,1267,-141.0,0.0,NaN
22,1,КП - Неспроста,Неспроста,1.0,67,0111011101101110001101110011111111110011111100...,2296.0,749.0,10142.0,6.0,2296,2300,749.0,0.0,NaN
25,1,Неспроста,Неспроста,5.0,0,000000000000000,1955.0,-29.0,11285.0,2.0,1955,1859,-29.0,0.0,NaN
26,21,Кондор,Кондор,41.0,0,000000000000000,0.0,-5.0,55.0,29.5,0,0,-5.0,0.0,NaN
30,1,Неспроста,Неспроста,2.0,0,000000000000000,2203.0,394.0,10891.0,4.0,2203,2192,394.0,0.0,NaN
38,12,Модерн,Модерн,16.0,0,000000000000000,74.0,-48.0,811.0,14.0,74,10,-48.0,0.0,NaN
41,13,Дельта фи,Дельта фи,6.0,0,000000000000000,838.0,1.0,2340.0,6.0,838,428,1.0,0.0,NaN
45,2,Афина,Афина,3.0,0,000000000000000,1864.0,-106.0,12261.0,1.0,1864,1841,-106.0,0.0,NaN
48,9,ГРМ-2,ГРМ-2,14.0,0,000000000000000,412.0,236.0,23.0,25.0,412,239,236.0,0.0,NaN
49,2,Афина,Афина,5.0,0,000000000000000,1985.0,-235.0,12155.0,1.0,1985,1704,-235.0,0.0,NaN
54,1,Неспроста,Неспроста,7.0,0,000000000000000,1155.0,-527.0,11256.0,4.0,1155,827,-527.0,0.0,NaN
57,5,Команда Кузьмина,Команда Кузьмина,2.5,0,000000000000000,1859.0,-51.0,11522.0,2.0,1859,1659,-51.0,0.0,NaN
62,1,Неспроста,Неспроста,5.5,0,000000000000000,1967.0,-17.0,10747.0,4.0,1967,1776,-17.0,0.0,NaN
63,1,Неспроста,Неспроста,5.5,0,000000000000000,1967.0,18.0,10729.0,5.0,1967,1814,18.0,0.0,NaN
66,13,Дельта фи,Дельта фи,5.0,0,000000000000000,779.0,-26.0,2560.0,4.0,779,396,-26.0,0.0,NaN
67,2,Афина,Афина,3.0,0,000000000000000,2099.0,148.0,11548.0,3.0,2099,2054,148.0,0.0,NaN
70,21,Кондор,Кондор,22.0,0,000000000000000,15.0,8.0,47.0,25.0,15,13,8.0,0.0,NaN
76,1,Неспроста,Неспроста,3.0,60,1111110010111110010111010111111011001000111110...,2226.0,446.0,10730.0,5.0,2226,2189,446.0,0.0,NaN
78,9,ГРМ-2,ГРМ-2,20.0,0,NaN,26.0,8.0,343.0,15.0,26,8,-24.0,NaN,-24.0
81,2,Афина,Афина,1.0,0,000000000000000,2046.0,35.0,11791.0,1.0,2046,1789,35.0,0.0,NaN
84,9,ГРМ-2,ГРМ-2,9.0,0,000000000000000,85.0,-2.0,340.0,8.0,85,59,-2.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5257,200,Команда Александра Шатуха,ОНУ им. Мечникова,14.0,10,100101000000101101001000001100,0.0,1165.0,4840.0,14.0,1646,1165,11.0,0.0,11.0
5259,55,Команда Сергея Ефимова,Мираж,9.0,15,111100010110101011100010010100,1289.0,1661.0,7865.0,7.0,1289,1661,-65.0,1.0,-65.0
5260,2,Команда Максима Поташева,Афина,8.0,13,111100001100011011101000000100,2297.0,1655.0,7412.0,2.0,2297,1655,-25.0,1.0,-25.0
5261,200,Команда Александра Шатуха,ОНУ им. Мечникова,11.5,9,001100100100111000100000001000,0.0,1237.0,4840.0,15.0,2150,1237,87.0,0.0,87.0
5269,50705,Александр Шайкин дал малому порулить,Александр Шайкин,4.5,20,10000110011110100101100011011111101,0.0,782.0,3421.0,6.0,43,782,203.0,0.0,203.0
5279,2469,Puzzle,Puzzle,2.0,32,100111111011100110001111101011110010111111101001,1734.0,1031.0,4434.0,3.0,1734,1031,150.0,1.0,150.0
5281,2909,Команда Акрама Икрамова,Мистерия,10.5,48,1111111011011111011011011000111111000010111010...,0.0,1530.0,6019.0,15.0,2270,1530,112.0,0.0,112.0
5282,358,43,43,8.0,63,1000100100001000101010100010111010110111011100...,2151.0,1387.0,5848.0,9.0,2151,1387,103.0,1.0,103.0
5283,79,Старики-разбойники,Старики-разбойники,38.0,4,0000000000000000000000000000000000000000000000...,0.0,625.0,2637.0,39.0,0,625,42.0,1.0,42.0
5286,3639,Захидный полюс,Захидный полюс,3.0,23,111101001000101100111110111001101010110,2267.0,1170.0,4347.0,7.0,2267,1170,62.0,1.0,62.0
5292,3198,Потом придумаем,Потом придумаем,14.0,24,111011001110110010011101110111100111,2267.0,1298.0,5387.0,11.0,2267,1298,2.0,1.0,2.0
5293,299,Команда Гусейнова,Команда Гусейнова,27.5,18,011000111101111001000001111100000101,707.0,1011.0,4260.0,28.0,707,1011,9.0,1.0,9.0
5297,3547,Амперсанд,Амперсанд,23.5,8,1111000000000000000100000000000010000000000000...,0.0,2.0,26.0,22.0,0,2,-2.0,1.0,-2.0
5299,185,Гимназисты,Гимназисты,4.0,25,1101111100001011001101010100010000111000111100011,2151.0,1173.0,6635.0,2.0,2151,1173,-143.0,1.0,-143.0
5301,7896,По фигу,По фигу,1.0,20,000011110101111001111001001011101010,2073.0,1288.0,4554.0,5.0,2073,1288,730.0,1.0,730.0
5302,38164,МГТУ - Фабрика мыслей,МГТУ - Фабрика мыслей,4.0,26,101110010011111101110011110110111111,1799.0,1120.0,4919.0,4.0,1799,1120,5.0,1.0,5.0
5308,84,Норманны,Норманны,16.0,25,111111011101110011111100111100011100,2228.0,1315.0,5083.0,20.0,2228,1315,45.0,1.0,45.0
5309,1799,Снова,Снова,25.0,24,111101101010111010111110110010010111,1350.0,1032.0,4490.0,19.0,1350,1032,-10.0,0.0,-10.0
5310,47,Снарк,Снарк,43.5,21,011001100110100110111010001100101001111,2287.0,1334.0,4177.0,111.0,2287,1334,160.0,1.0,160.0
5311,44457,НАГлый фрукт,НАГлый фрукт,9999.0,0,000000000000,0.0,0.0,0.0,10.5,0,0,0.0,1.0,0.0
5315,157,Дети Патанджали,Дети Патанджали,2.5,32,011011111111111111101111111111110111,2260.0,1295.0,5625.0,2.0,2260,1295,1.0,1.0,1.0
5316,336,Чудо в перьях,Чудо в перьях,28.5,26,101100111110100011111100111111011111,2260.0,1271.0,5359.0,21.0,2260,1271,-6.0,1.0,-6.0
5329,188,Команда Губанова,Команда Губанова,2.0,25,111101111101101010010101001111111011,2298.0,1875.0,8306.0,2.0,2298,1875,45.0,1.0,45.0
5335,4477,Мастерство быть излишним,Пользование лифтом запрещено,21.0,14,110000000000100001010011001001101011010000000000,0.0,162.0,1267.0,17.0,0,162,-62.0,1.0,-62.0
5339,157,Дети Патанджали,Дети Патанджали,13.0,20,010100001111101000100011111101111100,2277.0,1300.0,5625.0,9.0,2277,1300,-11.0,1.0,-11.0
5342,72,Фунтики,Фунтики,17.5,14,001101000001101111000110001000100100,2246.0,1007.0,4020.0,20.0,2246,1007,50.0,1.0,50.0
5344,204,Мания Величия,Мания Величия,7.0,52,0101101001111101001010011111000111010011010011...,2295.0,1471.0,4690.0,25.0,2295,1471,341.0,1.0,341.0
5345,66,Ультиматум,Ультиматум,14.0,25,111111000111111011110011111100000111,2293.0,1513.0,5106.0,39.0,2293,1513,144.0,1.0,144.0
5362,587,Лекционный зал №1,Лекционный зал №1,78.0,6,011000000010000000000000100001001000,0.0,97.0,971.0,65.0,0,97,-35.0,1.0,-35.0
5378,1223,Ва-банк,Ва-банк,3.5,18,010100111000101101010011100101010011,1215.0,505.0,2311.0,4.0,1215,505,65.0,1.0,65.0

In [56]:
tournaments = tournaments.loc[~tournaments.questions_total.isnull(), :]
tournaments.head(1)

,name,town,long_name,date_start,date_end,tour_count,tour_questions,tour_ques_per_tour,questions_total,type_name,main_payment_value,discounted_payment_value,discounted_payment_reason,date_requests_allowed_to,comment,site_url,main_payment_currency,discounted_payment_currency
idtournament,,,,,,,,,,,,,,,,,,
3236,Десятый блин,Великий Новгород,"Открытый Фестиваль интеллектуальных игр ""Десят...",2015-05-23 13:00:00,2015-05-24 16:00:00,6.0,12.0,NaN,72.0,Обычный,2500.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
results.head(2)

,idteam,current_name,base_name,position,questions_total,mask,bonus_a,bonus_b,tech_rating,predicted_position,d_bonus_a,d_bonus_b,d_diff_bonus,included_in_rating,idtournament,diff_bonus
0,209,Команда Коваленко,Команда Коваленко,11.0,34,1111101000101111001100011000111101001111001110...,2230.0,-87.0,4509.0,7.0,2230,663,-87.0,1.0,3236,NaN
1,270,Синоп,Синоп,14.5,31,1110110000101100001100101101101101010011010000...,2189.0,119.0,2567.0,20.0,2189,618,119.0,1.0,3236,NaN

In [33]:
tour = random.sample(results.idtournament.unique().tolist(), 1)[0]
t_subset = results.loc[results.idtournament == tour, ['idteam', 'mask']]
team = random.sample(t_subset.idteam.tolist(), 1)[0]
quest = random.randint(0, int(tournaments.loc[tour, 'questions_total']))
quest_key = f"{str(tour)}_{str(quest)}"

In [35]:
question_difficulty[quest_key]

5.475996237008928

In [32]:
def difficulty_init():
    return random.uniform(0, 10)
question_difficulty = {f"{str(tourn)}_{str(ques)}": difficulty_init() for tourn in tournaments.index 
                       for ques in range(int(tournaments.loc[tourn, 'questions_total']))}
pd.DataFrame(question_difficulty, index=[0]).T.head()

               0
3236_0  5.124221
3236_1  7.166873
3236_2  8.385169
3236_3  7.186965
3236_4  9.222628

In [53]:
def sigmoid(x):
    return 1 / (1 + pd.np.exp(-x))

In [36]:
def gd(lr=0.01, epochs=10):
    # get random tournament, team and question
    tour = random.sample(results.idtournament.unique().tolist(), 1)[0]
    t_subset = results.loc[results.idtournament == tour, ['idteam', 'mask']]
    team = random.sample(t_subset.idteam.tolist(), 1)[0]
    players = roster.loc[(roster.idteam == team) & (roster.idtournament == tour), 'idplayer'].tolist()
    quest = random.randint(0, int(tournaments.loc[tour, 'questions_total']))
    
    # get question difficulty
    quest_dif_key = f"{str(tour)}_{str(quest)}"
    difficulty = question_difficulty[quest_dif_key]
    
    # calculate team skill and sigmoid
    skills = [player_skills_dict[player] for player in players]
    team_skill = sum(skills)
    team_sigmoid = sigmoid(team_skill - difficulty)
    
    # get y (1 for correct answer, 0 for incorrect)
    y_true = int(t_subset.loc[t_subset.idteam == team, 'mask'].values[0][quest])
    
    # weights update
    question_difficulty[quest_dif_key] += lr * (y_true * (1-team_sigmoid) + (1-y)*team_sigmoid)
    for

SyntaxError: invalid syntax (<ipython-input-36-3ec95872f80e>, line 7)

In [71]:
t_subset.loc[:, 'mask'].str.replace('X', '')

90986    0000000110000010010010111010010000000000000010...
90987    0011011111110111111100111111100111011011011110...
90988    0111111101110111011101110000010110110011101110...
90989    0101011111110010011110110110010111111111101111...
90990    0101011111111100011001111011100110001011111110...
90991    0111110111111111111001100110100110111111111110...
90992    0111000111000110011000110011000000110000001000...
90993    0011100101100101011100111011010111100011111100...
90994    0101010101010110011001110010000110011110101000...
90995    0101000100100000011000000000000000100000001000...
90996    0110100100010010011000011000000000100000011010...
90997    0001000101100011011001010001010000100000001001...
90998    0101110111101111011001110110100111011011101010...
90999    0000000100000000010001000000000010100000000011...
91000    0010000010000010001000010000000000000000000000...
91001    0111110001010000011000110010100110000000000000...
91002    0101100111001011011010110011000100100000101001...
91003    0100011101100011010000011010000010010001000110...
91004    0011100101110010011001111010000110000110111110...
91005    0111111111100011011000110010010110000011101110...
91006    0111101111110100011001011011011100000001100110...
91007    0111110111110111001011110000100110110111001110...
91008    0111110101110111111000110010000111000001001000...
91009    0111111111100111111001111011100111110011110000...
91010    0111011111110001011100110111011110110011100010...
91011    0100000101000000011000100000000000100001111000...
91012    0001101111000001011000000000000010110000000000...
91013    0111110111100011011100110000010010110010010101...
91014    0101000111100011011000000000000000100001001000...
91015    0010100110000000011000010000000100000000100000...
91016    0001000100000010010100110000010010000000000000...
91017    0011010100000010011010010000010010100000001000...
91018    0101010101100001001000010000010110000001001000...
91019    0110001110000100010000000011010010100001001000...
91020    0111011111101000011101010010000110000011110101...
91021    0001100100010010011010000000000000100000000000...
91022    0101000111110011011000011000000000001000000000...
91023    0101000101000000010000000000010010110000000000...
91024    0100010000100000010010000000000010000000001000...
91025    0001000101010000010000011000000010100010001010...
91026    0101010100110001011000010010000000000001000000...
91027    1101110111010011011000100010100100100011100000...
91028    0101010111010000011000010000000110000001011010...
91029    0101000100000000010000000000000010000000001000...
91030    0011010101100100011000111000000010000001000000...
91031    0010000001000010010000010000000010010000000000...
91032    0000000101000000000000000000000000000000000000...
91033    0100000000110001011001010000000000000000000000...
91034    1101100101010001001000010000100010100001001000...
91035    0000000100000000000000011000000010000000000000...
91036    0101110100010011011001110010000010100001001100...
91037    0000000100000000000000010000000010000000000000...
91038    0101000001001000011001100000000010000000000000...
91039    0110000000000000010000000000000000000000000000...
Name: mask, dtype: object

In [67]:
t_subset

       idteam                                               mask
90986      53  00000001100000100XXXXXXX100101110100100000XXXX...
90987      55  00110111111101111XXXXXXX111001111111001110XXXX...
90988      67  01111111011101110XXXXXXX111011100000101101XXXX...
90989     185  01010111111100100XXXXXXX111101101100101111XXXX...
90990     264  01010111111111000XXXXXXX110011110111001100XXXX...
90991     313  01111101111111111XXXXXXX110011001101001101XXXX...
90992     683  01110001110001100XXXXXXX110001100110000001XXXX...
90993     791  00111001011001010XXXXXXX111001110110101111XXXX...
90994    1021  01010101010101100XXXXXXX110011100100001100XXXX...
90995    1093  01010001001000000XXXXXXX110000000000000001XXXX...
90996    3149  01101001000100100XXXXXXX110000110000000001XXXX...
90997    3178  00010001011000110XXXXXXX110010100010100001XXXX...
90998    3875  01011101111011110XXXXXXX110011101101001110XXXX...
90999    4126  00000001000000000XXXXXXX100010000000000101XXXX...
91000    5836  00100000100000100XXXXXXX010000100000000000XXXX...
91001    5935  01111100010100000XXXXXXX110001100101001100XXXX...
91002    5985  01011001110010110XXXXXXX110101100110001001XXXX...
91003    6357  01000111011000110XXXXXXX100000110100000100XXXX...
91004    6513  00111001011100100XXXXXXX110011110100001100XXXX...
91005    6752  01111111111000110XXXXXXX110001100100101100XXXX...
91006    7428  01111011111101000XXXXXXX110010110110111000XXXX...
91007    7544  01111101111101110XXXXXXX010111100001001101XXXX...
91008    7796  01111101011101111XXXXXXX110001100100001110XXXX...
91009    8318  01111111111001111XXXXXXX110011110111001111XXXX...
91010   26692  01110111111100010XXXXXXX111001101110111101XXXX...
91011   26984  01000001010000000XXXXXXX110001000000000001XXXX...
91012   26986  00011011110000010XXXXXXX110000000000000101XXXX...
91013   27211  01111101111000110XXXXXXX111001100000100101XXXX...
91014   27219  01010001111000110XXXXXXX110000000000000001XXXX...
91015   27519  00101001100000000XXXXXXX110000100000001000XXXX...
91016   28599  00010001000000100XXXXXXX101001100000100100XXXX...
91017   37751  00110101000000100XXXXXXX110100100000100101XXXX...
91018   37760  01010101011000010XXXXXXX010000100000101100XXXX...
91019   38038  01100011100001000XXXXXXX100000000110100101XXXX...
91020   38064  01110111111010000XXXXXXX111010100100001100XXXX...
91021   40072  00011001000100100XXXXXXX110100000000000001XXXX...
91022   40075  01010001111100110XXXXXXX110000110000000000XXXX...
91023   40971  01010001010000000XXXXXXX100000000000100101XXXX...
91024   41641  01000100001000000XXXXXXX100100000000000100XXXX...
91025   42779  00010001010100000XXXXXXX100000110000000101XXXX...
91026   42800  01010101001100010XXXXXXX110000100100000000XXXX...
91027   43198  11011101110100110XXXXXXX110001000101001001XXXX...
91028   43288  01010101110100000XXXXXXX110000100000001100XXXX...
91029   43330  01010001000000000XXXXXXX100000000000000100XXXX...
91030   45361  00110101011001000XXXXXXX110001110000000100XXXX...
91031   45653  00100000010000100XXXXXXX100000100000000100XXXX...
91032   45655  00000001010000000XXXXXXX000000000000000000XXXX...
91033   45656  01000000001100010XXXXXXX110010100000000000XXXX...
91034   45819  11011001010100010XXXXXXX010000100001000101XXXX...
91035   46199  00000001000000000XXXXXXX000000110000000100XXXX...
91036   46200  01011101000100110XXXXXXX110011100100000101XXXX...
91037   46202  00000001000000000XXXXXXX000000100000000100XXXX...
91038   46203  01010000010010000XXXXXXX110011000000000100XXXX...
91039   46204  01100000000000000XXXXXXX100000000000000000XXXX...

In [63]:
len(results.loc[results.idtournament == tour, 'mask'].values[0])

72