In [1]:
import pandas as pd
import random

In [2]:
results = pd.read_csv('results.csv')
roster = pd.read_csv('roster.csv')
tournaments = pd.read_csv('tournaments.csv')

In [37]:
tournaments.head()

,idtournament,name,town,long_name,date_start,date_end,tour_count,tour_questions,tour_ques_per_tour,questions_total,type_name,main_payment_value,discounted_payment_value,discounted_payment_reason,date_requests_allowed_to,comment,site_url,main_payment_currency,discounted_payment_currency
0,3236,Десятый блин,Великий Новгород,"Открытый Фестиваль интеллектуальных игр ""Десят...",2015-05-23 13:00:00,2015-05-24 16:00:00,6.0,12.0,NaN,72.0,Обычный,2500.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,4833,Беларускае люстэрка. Дзень другi.,NaN,Беларускае люстэрка - зеркало чемпионата Белар...,2018-03-30 19:00:00,2018-04-03 19:00:00,3.0,12.0,NaN,36.0,Синхрон,6.0,0.0,Школьные команды.,2018-04-03,NaN,NaN,NaN,NaN
2,4329,Кубок городов,NaN,"Международный синхронный турнир ""Кубок городов...",2018-03-30 12:00:00,2018-04-02 20:00:00,4.0,12.0,NaN,48.0,Синхрон,0.0,NaN,NaN,2018-03-29,NaN,http://kubgor.chgk.info/2018,NaN,NaN
3,4671,17/03: Король vs Мерзляков,NaN,Синхронный турнир по спортивному «Что? Где? Ко...,2018-03-17 17:03:00,2018-03-21 17:03:00,3.0,12.0,NaN,36.0,Синхрон,6.0,NaN,NaN,2018-03-20,NaN,NaN,NaN,NaN
4,4569,Умами,NaN,"Международный синхронный турнир ""Умами""",2018-03-09 19:00:00,2018-03-13 19:00:00,3.0,12.0,NaN,36.0,Синхрон,7.0,3.5,"для студенческих команд, школьные команды игра...",2018-03-11,NaN,NaN,NaN,NaN

In [3]:
results.head()

,idteam,current_name,base_name,position,questions_total,mask,bonus_a,bonus_b,tech_rating,predicted_position,d_bonus_a,d_bonus_b,d_diff_bonus,included_in_rating,idtournament,diff_bonus
0,209,Команда Коваленко,Команда Коваленко,11.0,34,1111101000101111001100011000111101001111001110...,2230.0,-87.0,4509.0,7.0,2230,663,-87.0,1.0,3236,NaN
1,270,Синоп,Синоп,14.5,31,1110110000101100001100101101101101010011010000...,2189.0,119.0,2567.0,20.0,2189,618,119.0,1.0,3236,NaN
2,358,43,43,20.0,26,1111110000011100000010011111100001000111001000...,2074.0,-100.0,3532.0,9.0,2074,501,-100.0,1.0,3236,NaN
3,482,Нимлот,Нимлот,14.5,31,1101100000001110001011011101111111101111100100...,2189.0,-29.0,3376.0,10.0,2189,618,-29.0,1.0,3236,NaN
4,1948,Doom-Doom,Doom-Doom,17.5,29,1111010010110110001000011001101100101001000000...,2145.0,38.0,2629.0,19.0,2145,557,38.0,1.0,3236,NaN

In [4]:
df = results.loc[results.idtournament == 3236, ['idteam', 'mask']].set_index('idteam')
df.head()

                                                     mask
idteam
209     1111101000101111001100011000111101001111001110...
270     1110110000101100001100101101101101010011010000...
358     1111110000011100000010011111100001000111001000...
482     1101100000001110001011011101111111101111100100...
1948    1111010010110110001000011001101100101001000000...

In [5]:
length = len(df.iloc[0, 0])
mask = df.loc[:, 'mask'].str.split('', length, expand=True).drop(columns=[0])
mask.head()

       1  2  3  4  5  6  7  8  9  10  ... 63 64 65 66 67 68 69 70 71 72
idteam                                ...
209     1  1  1  1  1  0  1  0  0  0  ...  0  0  0  0  0  0  0  0  1  1
270     1  1  1  0  1  1  0  0  0  0  ...  0  0  0  1  1  0  1  1  0  1
358     1  1  1  1  1  1  0  0  0  0  ...  0  1  0  0  0  0  0  0  0  0
482     1  1  0  1  1  0  0  0  0  0  ...  0  0  0  0  0  0  1  0  0  0
1948    1  1  1  1  0  1  0  0  1  0  ...  0  1  0  1  0  1  1  0  0  0

[5 rows x 72 columns]

## Model

In [6]:
roster.head()

   idplayer  is_captain  is_base  is_foreign  idteam  idtournament
0     19298           1        1           0     209          3236
1      7474           0        1           0     209          3236
2     15624           0        1           0     209          3236
3     32017           0        1           0     209          3236
4     13601           0        1           0     209          3236

In [7]:
def skill_init():
    return random.uniform(0, 10)
player_skills_dict = {id: skill_init() for id in roster.idplayer}
pd.DataFrame(player_skills_dict, index=[0]).T.head()

              0
19298  6.693598
7474   9.458793
15624  1.740428
32017  7.501582
13601  9.370735

In [8]:
def difficulty_init():
    return random.uniform(0, 10)
question_difficulty = {ques: difficulty_init() for ques in mask.columns}
pd.DataFrame(question_difficulty, index=[0]).T.head()

          0
1  6.245228
2  0.018093
3  1.614166
4  8.278455
5  1.815696

In [12]:
def sigmoid(x):
    return 1 / (1 + pd.np.exp(-x))
def sig_deriv(x):
    return sigmoid(x) * (1-sigmoid(x))

In [10]:
def team_skill(team_id, tour_id):
    players = roster.loc[(roster.idteam == team_id) & (roster.idtournament == tour_id), 'idplayer'].tolist()
    skills = [player_skills_dict[player] for player in players]
    total_skill = sum(skills)
    return total_skill

team_skill(209, 3236)

34.78214391866812

In [17]:
def correct_answer_prob(y, team_id, tour_id, ques_id):
    difficulty = question_difficulty[ques_id]
    t_skill = team_skill(team_id, tour_id)
    answer = sigmoid(t_skill - difficulty)
    prob = y*pd.np.log(answer) + (1-y)*(1-pd.np.log(answer))
    return -prob

correct_answer_prob(1, 209, 3236, 1)

4.041211809636386e-13

In [27]:
tour = random.sample(results.idtournament.unique().tolist(), 1)[0]

In [30]:
tour
t_subset = results.loc[results.idtournament == tour, ['idteam', 'mask']]
team = random.sample(t_subset.idteam.tolist(), 1)[0]
team

45625

In [36]:
random.randint(0, len(t_subset['mask'].iloc[0]))

27

In [ ]:
def gd(lr=0.01):
    tour = random.sample(results.idtournament.unique().tolist(), 1)[0]
    t_subset = results.loc[results.idtournament == tour, ['idteam', 'mask']]
    team = random.sample(t_subset.idteam.tolist(), 1)[0]

In [48]:
%load_ext cython

The cython extension is already loaded. To reload it, use:
  %reload_ext cython

In [62]:
%%cython
cdef int b = ~((1 << 14) - 1)
print(b)

-16384

In [65]:
u'abs'.encode('utf-8')

AttributeError: 'bytes' object has no attribute 'encode'

In [44]:
%%cython
cdef enum abc:
    a = 0
    b = a
    c
    d
    e
print(b)

0